VOYAGE_API_KEY="your_voyage_key_here"
VOYAGE_MODEL="voyage-4"
CHROMA_API_KEY="your_chroma_key_here"
CHROMA_TENANT="gmg_test"
CHROMA_DATABASE="parent_products"
CHROMA_COLLECTION="gmg_test_parent_products_voyage"
MONGO_URI="mongodb+srv://user:pass@cluster.mongodb.net/?authSource=admin"
MONGO_DB="product-sports-db"
MONGO_COLLECTION="product_model"
